.jumbotext{
    font-weight: 700;
    font-size: 40px;
}

body{
	font-family: Montserrat;
}
 
h1{
	font-family: Montserrat;
}

h2{
	font-family: Montserrat;
}

p{
	font-family: Montserrat;
}